$color__primary: rgba(27, 37, 128, 1);
$color__secondary: rgba(204, 166, 31, 1);
$color__tertiary: rgba(105, 120, 255, 1);

// Colores oscuros
$color__primary--dark: #000103;
$color__secondary--dark: #515052;
$color__tertiary--dark: #8c8c8c;


// Tema principal
/*.theme {
  --color__primary: #{$color__primary};
  --color__secondary: #{$color__secondary};
  --color__tertiary: #{$color__tertiary};
  // Tema oscuro
  .theme--dark {
    --color__primary: #{$color__primary--dark};
    --color__secondary: #{$color__secondary--dark};
    --color__tertiary: #{$color__tertiary--dark};
  }
}*/