
.main-pagina-inicio {
    //z-index: -1;
    //position: relative;
    .main-pagina-inicio__section {
      position: relative;
    
  
      .section__imagen-coinbase-inicio {
        width: 100%;
        //min-height: 100vh;
        margin-bottom: -5px;
        /* La propiedad object-fit indica cómo debe cambiarse
        el tamaño del contenido de un elemento para que se ajuste
        al contenedor */
        object-fit:cover;
        //z-index: -1;
        //position: relative;
      }
      
      .section__contenedor-encima-img {
        /* La propiedad position absolute coloca un elemento en
        relación con la posición de su padre y cambia el diseño
        a su alrededor. */
        position: absolute;
        top: 46%;
        width: 100%;
        text-align: center;
  
        .contenedor-encima-img__a {
          text-decoration: none;
          .a__span {
            background-color: $color__secondary;
            z-index: 1;
            color: black;
            border-radius: 0.6em;
            padding: 12px;
            font-family: $fuente-titulos;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          }
        }
  
      }
    }
  
  }
  
  
  
  // Responsive
  
  
  
  // Primer punto de ruptura
  @media screen and (min-width: 400px) and (max-width: 600px) {
    .main-pagina-inicio {
      .main-pagina-inicio__section {
  
        .section__contenedor-encima-img {
          width: 100%;
          .contenedor-encima-img__a {
            .a__span { 
              /* La propiedad transition-duration indica el
              tiempo que tarda en cambiar en este caso el tamaño
              de la tipografía  */
              transition-duration: 0.5s;
              font-size: 14px;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
          }
        }
  
      }
    }
  
  }
  
  
  // Segundo punto de ruptura
  @media screen and (min-width: 378px) and (max-width: 520px) {
    .main-pagina-inicio {
      z-index: -1;
      position: relative;
      .main-pagina-inicio__section {
  
        .section__imagen-coinbase-inicio {
          height: 400px;
          transition-duration: 0.5s;
        }
  
        .section__contenedor-encima-img {
          width: 100%;
          .contenedor-encima-img__a {
            .a__span { 
              transition-duration: 0.5s;
              font-size: 14px;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
          }
        }
  
      }
    }
    
  
  }
  
  
  // Tercer punto de ruptura
  @media screen and (max-width: 378px) {
    .main-pagina-inicio {
      z-index: -1;
      position: relative;
      .main-pagina-inicio__section {
        .section__imagen-coinbase-inicio {
          height: 400px;
          transition-duration: 0.5s;
        }
  
        .section__contenedor-encima-img {
          width: 100%;
          .contenedor-encima-img__a {
            .a__span { 
              transition-duration: 0.5s;
              font-size: 14px;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
          }
        }
  
      }
    }
  
  
  }
  
  
  
  
  
  