.main-pagina-perfil-usuario {
    background-color: $azul-menos-saturado;
    width: 100%;
    /* 100% de la altura del viewport
    El viewport es la parte visible del documento */
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


    .main-pagina-perfil-usuario__section1 {
        display: flex;
        /* La propiedad flex-direction row wrap lo que hace es
        colocar los elementos uno detrás de otro en fila  */
        flex-direction: row wrap;
        /* La propiedad justify-content center lo que hace es
        centrar de manera horizontal los elementos */
        justify-content: center;
        /* La propiedad align-items center lo que hace centrar
        de manera vertical los elementos  */
        align-items: center;
        background-color: $azul-mas-saturado;
        width: 120px;
        padding: 20px;
        margin: 20px;
        border-radius: 0.6em;

        .section1__icono-usuario {
            width: 80px;
        }

    }

    .main-pagina-perfil-usuario__section2 {

        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;
        background-color: $azul-mas-saturado;
        width: 250px;
        margin: 20px;
        border-radius: 0.6em;

        .section2__contenedor-info {
            display: flex;
            /* Lo que hace la propiedad flex-direction column
            es indicar que los elementos de la lista se coloquen
            uno debajo del otro */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;

            h3 {
                color: white;
                padding-bottom: 20px;
            }


            .contenedor-info__nombre {
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                gap: 25px;
                padding-bottom: 8px;
            }

            .contenedor-info__apellido {
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                gap: 25px;
                padding-right: 12px;
                padding-bottom: 8px;
            }

            .contenedor-info__fecha {
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                /* La propiedad gap establece el espacio
                de separación entre elementos  */
                gap: 25px;    
            }
        }

        
    }


}