// Modo oscuro pie página
.theme {
  .pie-pagina--oscuro {
    background-color: $color__primary--dark;
  }
}



.pie-pagina {
  background-color: $color__primary;
  position: sticky;
  width: 100%;
  height: 55px;
  padding:10px;
  display:flex;
  /* La propiedad flex-direction row lo que hace
  es indicar que los elementos se coloquen
  uno detrás de otro en fila */
  flex-flow: row wrap;
  /* La propiedad justify-content space-between distribuye
  los elementos de manera uniforme
  El primer elemento está al ras con el inicio,
  el último está al ras con el final   */
  justify-content: space-between;
  align-items:center;


  .pie-pagina__contenedor-redes-sociales {
    /* La propiedad justify-self lo que hace es mover un único
    elemento sobre el eje horizontal. En este caso coloca
    al principio del eje horizontal el elemento   */
    justify-self: flex-start;

    .contenedor-redes-sociales__instagram {

      .instagram__icono {
        width: 18px;
      }

      .instagram__enlace {
        justify-self: flex-start;
        color:  #ffffff;
        font-family: $fuente-titulos;
        font-size: 12px; 

      }
    }


    .contenedor-redes-sociales__facebook {

      .facebook__icono {
        width: 18px;
      }

      .facebook__enlace {
        /* La propiedad justify-self lo que hace es mover un único
        elemento sobre el eje horizontal. En este caso coloca
        el elemento en el centro del eje horizontal   */
        justify-self: center;
        color:  #ffffff;
        font-family: $fuente-titulos;
        font-size: 12px; 
      }
    }

  }

  
  .pie-pagina__enlace-invierte {
    /* La propiedad justify-self lo que hace es mover un único
    elemento sobre el eje horizontal. En este caso coloca
    el elemento al final del eje horizontal   */
    justify-self: flex-end;
    color:  #ffffff;
    font-family: $fuente-titulos;
    font-size: 12px; 
  }

  #pie-pagina__modo-oscuro {
    color:  #000000;
    font-family: $fuente-titulos;
    font-size: 12px;
    border-radius: 1.2em;
    width: 96px;
    height: 35px;
    padding: 10px;
    background-color: $color__secondary;
    cursor: pointer;
  }


  
}



// Responsive



// Primer punto de ruptura
/*@media screen and (min-width: 400px) and (max-width: 600px) {
  



}*/



// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .pie-pagina {
    height: 60px;
    .pie-pagina__contenedor-redes-sociales {
  
      .contenedor-redes-sociales__facebook {
        display: block;
      }
    }

    .pie-pagina__enlace-invierte {
      display: none;
    }

  }

}



// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .pie-pagina {
    height: 70px;

    .pie-pagina__enlace-invierte {
      display: none;
    }

    .pie-pagina__contenedor-redes-sociales {
  
      .contenedor-redes-sociales__facebook {
        display: block;
      }
    }

  }

}