.logoPag {
    width: 45px;
  
  }
  
  
.nombrePag {
  color: white;
  display: inline-block;
}

  
  .cabecera {
  
    background-color: $azul-mas-saturado;
    width: 100%;
    position:sticky;
    padding: 10px;
  
    .menuNavegacionNav {
    
    
      li {
        list-style-type: none;
        font-family: $fuente-titulos;
      }
    
    
      a {
        text-decoration: none;
        color: white;
      }
    
    
      .listaCabecera {
        font-size:14px;

        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items:center;
        width: 100%;

        .menu-hamburguesa {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: space-between;
          width: 79%;

          .enlaceRegistro {
            width: 50px;
            border-radius: 0.5em;
            padding:6px;
            color: $azul-mas-saturado;
            background-color: $amarillo-menos-saturado;
          }
        }


        .toggle-menu {
          display: none;
          .icono-hamburguesa {
            width: 30px;
          } 
      }

      .menu-hamburguesa--show {
        transform: translateY(0);
      }


        .elemento-lista-imagen-y-nombre {
          color: white;
          font-family: $fuente-titulos;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3px;
        }

        
      }
      }
  
    
  }


  



  // Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .cabecera {

    .menuNavegacionNav {
  
      .listaCabecera {
        position: relative;
        .menu-hamburguesa {
          flex-flow: column wrap;
          background-color: $amarillo-menos-saturado;
          margin-left: 300px;
          margin-top: 220px;
          width: 160px;
          height: 250px;
          padding-top: 35px;
          padding-bottom: 35px;
          position: absolute;
          transition: transform 0.3s;
          transform: translateY(-100%);

          li {
            a {
              color: black;
            }
          }
          

          
          .enlaceRegistro {
            color: rgb(0, 0, 0);
            background-color: $amarillo-menos-saturado;
            border-radius:0;
            padding:0;
          }
        }

        .icono-hamburguesa {
          display: flex;
          top: 0;
          right: 0;
          padding: 5px;
          cursor: pointer;
          background-color: $amarillo-menos-saturado;
        }
  
        }
  
    }
  }

  
}



// Tercer punto de ruptura
/*@media screen and (max-width: 378px) {


}*/