.logoPag {
    width: 45px;
  
  }
  
  
  .nombrePag {
    color: white;
    display: inline-block;
  }

  
  
  .cabecera {
  
    background-color: $azul-mas-saturado;
    width: 100%;
    position:sticky;
    padding: 10px;
  
    .menuNavegacionNav {
    
    
      li {
        list-style-type: none;
        font-family: $fuente-titulos;
      }
    
    
      a {
        text-decoration: none;
        color: white;
      }
    
    
      .listaCabecera {
        font-size:14px;

        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items:center;
        width: 100%;

        .menu-hamburguesa {
          flex-flow: row wrap;

          .enlaceRegistro {
            width: 50px;
            border-radius: 0.5em;
            padding:6px;
            color: $azul-mas-saturado;
            background-color: $amarillo-menos-saturado;
          }
        }


        .elemento-lista-imagen-y-nombre {
          color: white;
          font-family: $fuente-titulos;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3px;
        }
          
      }
      }
  
    
  }


  



  // Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .cabecera {
  
    .listaCabecera {

      .menu-hamburguesa {
        flex-flow: column wrap;
      }
        padding-bottom: 30px;
        background-color: rgb(37, 110, 43);

        .elemento-lista-imagen-y-nombre {
          padding-right: 500px;
          padding-top: 30px;
        }
      }
  
    }

  
}



// Tercer punto de ruptura
/*@media screen and (max-width: 378px) {


}*/