.pie-pagina {
    background-color: $azul-mas-saturado;
    position: sticky;
    width: 100%;
    height: 55px;
    padding:10px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:center;


    .pie-pagina__contenedor-redes-sociales {
      justify-self: flex-start;

      a {
        color:  #ffffff;
        font-family: $fuente-titulos;
        font-size: 12px;   
    }

    
    .contenedor-redes-sociales__icono-insta {
      width: 18px;
    }

    .contenedor-redes-sociales__icono_facebook {
      width: 18px;
    }

    .contenedor-redes-sociales__enlace-insta {
      justify-self: flex-start;

    }

    .contenedor-redes-sociales__enlace-facebook {
      justify-self: center;

    }

    }

    
    .pie-pagina__enlace-invierte {
      justify-self: flex-end;
      color:  #ffffff;
      font-family: $fuente-titulos;
      font-size: 12px; 
    }

    .pie-pagina__enlace-pag-404 {
      color:  #ffffff;
      font-family: $fuente-titulos;
      font-size: 12px;   
    }


    
    
}