$fuente-parrafos: 'Inter', sans-serif;
$fuente-titulos: 'Staatliches';
$azul-mas-saturado: rgba(27, 37, 128, 1);
$amarillo-menos-saturado: rgba(204, 166, 31, 1);
$azul-menos-saturado: rgba(105, 120, 255, 1);