@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";



// Main Página inicio sesión

.main-pagina-inicio-sesion {
    background-color: $azul-menos-saturado;
    width: 100%;
    /* 100% de la altura del viewport
    El viewport es la parte visible del documento */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .section__form-inicio-sesion {
      text-align: center;
      
    
      &__fieldset {
        background-color: $azul-mas-saturado;
        border: $amarillo-menos-saturado;
        width: 580px;
        padding-bottom: 25px;
  
        &__titulo-inicio-sesion {
          color: white;
          font-family: $fuente-parrafos;
          font-size: 18px;
          text-align: center;
          /* Lo que hace la propiedad padding-top es indicar
          que el título en este caso se separe de la parte
          superior */
          padding-top: 30px;
        }
    
        &__titulo-inicio-sesion::after {
          /* Con el h2::after lo que hace es decirle que después
        del título ponga como contenido el elemento que se
        indique en el content */
          content: "🡻"
        }
  
        &__parrafo-nombre-pila {
          display: flex;
          /* La propiedad justify-content center lo que hace
          es centrar los elementos respecto al eje horizontal */
          justify-content: center;
          /* La propiedad align-items center lo que hace
          es centrar los elementos respecto al eje vertical */
          align-items: center;
          /* La propiedad gap lo que hace es dejar un hueco de
          separación entre cada elemento según indiquemos */
          gap: 30px;
          padding: 10px;
          padding-top: 45px;
          padding-bottom: 20px;
        }
  
        &__parrafo-contrasena {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 34px;
          padding: 10px;
          padding-bottom: 40px;
        }
      
        input {
          background-color: $amarillo-menos-saturado;
          border: $amarillo-menos-saturado;
          width: 250px;
          height: 30px;
          border-radius: 0.4em;
        }
  
        label {
          color:white;
          font-family: $fuente-parrafos;
          font-size: 16px;
        }
  
        
        #P__boton-enviar {
          border-radius: 1.2em;
          width: 96px;
          height: 35px;
          padding: 10px;
          /* Lo que hace la propiedad display block junto a
          margin-left auto y margin-right auto es centrar
          el botón de manera horizontal */
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
  
    }
    }
  }




// Responsive



// Primer punto de ruptura
@media screen and (min-width: 400px) and (max-width: 600px) {
  .main-pagina-inicio-sesion {
    transition-duration: 0.5s;

    .section__form-inicio-sesion {

      &__fieldset {
        width: 470px;
        /* Lo que hace la propiedad transition-duration es indicar
        el tiempo que tarda en cambiar en este caso la anchura
        del fieldset */
        transition-duration: 0.5s;

      }

    }

  }


}



// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .main-pagina-inicio-sesion {
    transition-duration: 0.5s;

    .section__form-inicio-sesion {

      &__fieldset {
        width: 360px;
        margin: 20px;
        transition-duration: 0.5s;

        &__parrafo-nombre-pila {
          display: flex;
          /* Lo que hace la propiedad flex-direction column
          es indicar que los elementos de la lista se coloquen
          uno debajo del otro */
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &__parrafo-contrasena {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;  
        }

      }

    }

  }


}




// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .main-pagina-inicio-sesion {
    transition-duration: 0.5s;

    .section__form-inicio-sesion {

      &__fieldset {
        width: 240px;
        margin: 20px;
        transition-duration: 0.5s;

        &__parrafo-nombre-pila {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #parrafo-nombre-pila__nombre {
            width: 200px;
          }
        }

        &__parrafo-contrasena {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #parrafo-contrasena__password {
            width: 200px;
          }
        }

      }

    }

  }


}