@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";


// Main página listado

.main-pagina-listado {
    background-color: $azul-menos-saturado;
    width: 100%;
    /* 100% de la altura del viewport
    El viewport es la parte visible del documento */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__section {
      width: 570px;
      text-align: center;
      padding: 20px;
      padding-bottom: 60px;
      background-color: $azul-mas-saturado;
  
      &__contenedor-titulo-y-buscar {
  
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
  
        &__h2 {
          font-family: $fuente-titulos;
          color: white;
          font-size: 18px;
          padding-top: 6px;
        }
  
        &__filtrado {
          width: 160px;
          background-color: white;
          padding: 6px;
          border-radius: 0.6em;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 5px;
      
          
          &__b {
            font-family: $fuente-titulos;
            font-size: 16px;
          }
        
          &__icono-buscar {
            width: 18px;
          }
        
        } 
  
      }
  
      
  
      p {
        color:white;
        font-family: $fuente-parrafos;
        font-size: 14px;
      }
  
      
    
      &__contenedor-cryptos {
        padding-top: 30px;
        /* La propiedad display grid lo que hace es organizar
        en una o varias columnas y filas los elementos */
        display:grid;
        grid-template-columns: 23% 23% 23%;
        grid-template-rows: 40% 40% 40%;
        align-items: center;
        justify-content: center;
  
  
        &__bitcoin {
          display:flex;
          align-items: center;
          /* La propiedad gap indica el espacio que hay
          entre los elementos */
          gap: 3px;
        }
  
        &__cardano {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__tether {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__ethereum {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__solana {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__bnb {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__litecoin {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__chainlink {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
        &__usd-coin {
          display:flex;
          align-items: center;
          gap: 3px;
        }
  
  
        img {
          width: 42px;
        }
  
        p {
          /* La propiedad display inline-block lo que hace
          es cambiar el comportamiento del elemento en este
          caso display block y de esta forma cambiaría de estar
          debajo a estar al lado de la imagen */
          display: inline-block;
        }
  
      }
  
    }
  
  }



// Responsive



// Primer punto de ruptura
@media screen and (min-width: 400px) and (max-width: 600px) {
  .main-pagina-listado {
    transition-duration: 0.5s;

    &__section {
      width: 500px;
      /* Lo que hace la propiedad transition-duration es indicar
    el tiempo que tarda en cambiar una propiedad en este caso
    la anchura del section */
      transition-duration: 0.5s;

      &__contenedor-cryptos {
        grid-template-columns: 24% 24% 24%;
        grid-template-rows: 40% 40% 40%;

        &__ethereum {
          gap: 0px;
        }


        &__usd-coin {
          gap: 0px;
        }


      }

    }
  
  }

}



// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .main-pagina-listado {
    transition-duration: 0.5s;

    &__section {
      width: 350px;
      transition-duration: 0.5s;

      &__contenedor-titulo-y-buscar {
        display: flex;
        flex-direction: column;
      }

      &__contenedor-cryptos {
        padding-top: 30px;
        display:grid;
        grid-template-columns: 23% 23% 23%;
        grid-template-rows: 40% 40% 40%;
        align-items: center;
        justify-content: center;
  
  
        &__bitcoin {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__cardano {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__tether {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__ethereum {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__solana {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__bnb {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__litecoin {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__chainlink {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__usd-coin {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        img {
          width: 42px;
        }
  
      }

    }
  
  }


}



// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .main-pagina-listado {
    transition-duration: 0.5s;
    height: 600px;

    &__section {
      width: 240px;
      height: 570px;
      margin: 20px;
      transition-duration: 0.5s;

      &__contenedor-titulo-y-buscar {
        display: flex;
        flex-direction: column;
      }

      &__contenedor-cryptos {
        padding-top: 30px;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 23% 23%;
        align-items: center;
        justify-content: center;
  
  
        &__bitcoin {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__cardano {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__tether {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__ethereum {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
        }
  
        &__solana {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
          margin-top: 5px;
        }
  
        &__bnb {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
          margin-top: 5px;
        }
  
        &__litecoin {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
          margin-top: 8px;
        }
  
        &__chainlink {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
          margin-top: 8px;
        }
  
        &__usd-coin {
          display:flex;
          align-items: center;
          flex-direction: column;
          gap: 3px;
          margin-top: 10px;
        }
  
        img {
          width: 42px;
        }
  
      }

    }
  
  }

}