@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";


.main-pagina-inicio {

  section {
    position: relative;
  }

  .section__imagen-coinbase-inicio {
    width: 100%;
    //min-height: 100vh;
    margin-bottom: -5px;
    object-fit: cover;
  }
  
  .section__contenedor-encima-img {
    position: absolute;
    top: 46%;
    width: 100%;
    text-align: center;

    a {
      background-color: $amarillo-menos-saturado;
      color: black;
      border-radius: 0.6em;
      padding: 12px;
      font-family: $fuente-titulos;
    }

  }

}



// Responsive



// Primer punto de ruptura
/*@media screen and (min-width: 400px) and (max-width: 600px) {
  

}


// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  
  

}


// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  


}*/















