@import "_variables.scss";



.mainPagInicio {

  section {
    position: relative;
  }

  .imagenPagInicio {
    width: 100%;
    //min-height: 100vh;
    margin-bottom: -5px;
    object-fit: cover;
  }
  
  .contenedor-encimaImagen {
    position: absolute;
    top: 46%;
    width: 100%;
    text-align: center;

    a {
      background-color: $amarillo-menos-saturado;
      color: black;
      border-radius: 0.6em;
      padding: 12px;
      font-family: $fuente-titulos;
    }

  }

}



// Responsive



// Primer punto de ruptura
/*@media screen and (min-width: 400px) and (max-width: 600px) {
  

}


// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  
  

}


// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  


}*/















