@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";




// Página 404


.main-pagina-error {
  background-color: $azul-menos-saturado;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    section {
      width: 690px;
      background-color: $azul-mas-saturado;
    }

}



.section__titulo-404 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: $fuente-titulos;
    animation-duration: 3s;
    animation-name: slidein;
  
  }
  
  
  .section__titulo-not-found {
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: $fuente-titulos;
    animation-duration: 3s;
    animation-name: slidein;
  
  }
  
  
  .section__parrafo-error {
    padding-top: 26px;
    text-align: center;
    color: white;
    font-family: $fuente-parrafos;
    animation-duration: 3s;
    animation-name: slidein;
  
  
  }
  
  
  .section__parrafo-enlace-inicio {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-family: $fuente-parrafos;
    animation-duration: 3s;
    animation-name: slidein;
  
    .parrafo-enlace-inicio__enlace {
      text-decoration: none;
      color: white;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index:1;
      padding-bottom: 20px;
    }
  }
  
  
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



// Responsive



// Primer punto de ruptura
@media screen and (min-width: 400px) and (max-width: 600px) {
  .main-pagina-error {
    background-color: rgb(20, 105, 20);
    transition-duration: 0.5s;

    section {
      width: 500px;
      transition-duration: 0.5s;

    }
  
  }


}




// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .main-pagina-error {
    background-color: rgb(195, 221, 22);
    transition-duration: 0.5s;

    section {
      width: 350px;
      transition-duration: 0.5s;
    }
  
  }

}




// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .main-pagina-error {
    background-color: aqua;
    transition-duration: 0.5s;

    section {
      width: 240px;
      margin: 20px;
      transition-duration: 0.5s;
    }
  }

}