@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";




// Página 404


.main-pagina-error {
    background-image: url("../img/imagen-triste.png");
    /* La propiedad background-repeat indica cómo se repiten
    las imágenes de fondo, en este caso indicamos que no se repita */
    background-repeat: no-repeat;
    /* La propiedad background-size establece el tamaño de la
    imagen de fondo del elemento, en este caso cover lo que hace
    es: Escala la imagen hasta el que el alto y ancho ocupa
    por completo el contenedor sin dejar espacios en blanco */
	  background-size: cover;
    width: 100%;
    /* 100% de la altura del viewport
    El viewport es la parte visible del documento */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .main-pagina-error__section {
      width: 590px;
    
      .section__titulo-404 {
        color: white;
        text-align: center;
        padding-top: 30px;
        font-family: $fuente-titulos;
        /* La propiedad animation-duration lo que hace es indicar
        el tiempo total que dura la animación  */
        animation-duration: 3s;
        /* La propiedad animation-name indica el nombre de la animación
        que se encuentra junto al keyframe  */
        animation-name: slidein;
        
        }
        
        
      .section__titulo-not-found {
        padding-top: 10px;
        text-align: center;
        color: white;
        font-family: $fuente-titulos;
        animation-duration: 3s;
        animation-name: slidein;
      
      }
        
        
      .section__parrafo-error {
        padding-top: 26px;
        text-align: center;
        color: white;
        font-family: $fuente-parrafos;
        animation-duration: 3s;
        animation-name: slidein;
      
      
      }
        
        
      .section__parrafo-enlace-inicio {
        padding-top: 20px;
        color: white;
        text-align: center;
        font-family: $fuente-parrafos;
        animation-duration: 3s;
        animation-name: slidein;
      
        .parrafo-enlace-inicio__enlace {
          text-decoration: none;
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          /* La propiedad z-index indica el orden de un elemento
          posicionado y sus descendientes. Cuando varios elementos
          se superponen, los elementos con mayor valor z-index cubren
          aquellos que tienen un menor valor.  */
          z-index:1;
          padding-bottom: 20px;
        }
}
}

}
  
  /* La regla @keyframes controla los pasos intermedios en
  una secuencia de animación CSS estableciendo estilos para
  fotogramas clave (o puntos de ruta) a lo largo de la secuencia
  de animación.  */
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }



// Responsive



// Primer punto de ruptura
@media screen and (min-width: 400px) and (max-width: 600px) {
  .main-pagina-error {
    transition-duration: 0.5s;

    .main-pagina-error__section {
      width: 500px;
      transition-duration: 0.5s;

    }
  
  }


}




// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .main-pagina-error {
    transition-duration: 0.5s;

    .main-pagina-error__section {
      width: 350px;
      transition-duration: 0.5s;
    }
  
  }

}




// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .main-pagina-error {
    transition-duration: 0.5s;

    .main-pagina-error__section {
      width: 240px;
      margin: 20px;
      transition-duration: 0.5s;
    }
  }

}