@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";



.main-pagina-perfil-usuario {
    background-color: $azul-menos-saturado;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;


    .section1 {
        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;
        background-color: $azul-mas-saturado;
        width: 120px;
        padding: 20px;
        margin: 20px;
        border-radius: 0.6em;

        .section__icono-usuario {
            width: 80px;
        }

    }

    .section2 {

        display: flex;
        flex-direction: row wrap;
        justify-content: center;
        align-items: center;
        background-color: $azul-mas-saturado;
        width: 250px;
        margin: 20px;
        border-radius: 0.6em;

        .contenedor-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;

            .titulo {
                color: white;
                padding-bottom: 20px;
            }


            .nombre {
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                gap: 25px;
                padding-bottom: 8px;
            }

            .apellido {
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                gap: 25px;
                padding-right: 12px;
                padding-bottom: 8px;
            }

            .fechaNac {
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                gap: 25px;    
            }
        }

        
    }


}