@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";



// Main página producto

.main-pagina-producto {
    background-color: $azul-menos-saturado;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    .section__contenedor-producto {
      background-color: $azul-mas-saturado;
      width: 574px;
      padding: 20px;
      margin: 20px;
  
      .contenedor-producto__logo-bitcoin-y-titulo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
  
        h2 {
          font-size: 30px;
          font-family: $fuente-titulos;
          color: white;
          //text-align: center;
          padding-top: 36px;
        }
  
        img {
          width: 40px;
          align-self: flex-end;
        }
    }
  
      #contenedor-producto__crypto-widget-coin-list {
        //width: 268px;
        width: 54%;
        margin:0 auto;
        margin-top: 20px;
      }
  
      p {
        font-size: 16px;
        color: white;
        font-family: $fuente-parrafos;
        display: inline;
      }
  
      h3 {
        color: white;
        font-size: 16px;
        font-family: $fuente-titulos;
        display: inline;
      }
  
      .contenedor-producto__info-crypto-bitcoin {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        
        .info-crypto-bitcoin__primer-dato-crypto {
          width: 60%;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //gap: 80px;
        }
  
        .info-crypto-bitcoin__segundo-dato-crypto {
          width: 60%;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //gap: 40px;
        }
  
        .info-crypto-bitcoin__tercer-dato-crypto {
          width: 60%;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //gap: 40px;
        }
  
        .info-crypto-bitcoin__cuarto-dato-crypto {
          width: 60%;
          padding: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          //gap: 50px;
        }
      }
  
      .cuarto-dato-crypto__enlace-evolucion-precio {
        padding: 5px;
        width: 96px;
        text-decoration: underline;
        background-color: $amarillo-menos-saturado;
        font-family: $fuente-titulos;
        border-radius: 0.6em;
        color: black;
      }
      
    }
  }
  



// Responsive



// Primer punto de ruptura
@media screen and (min-width: 400px) and (max-width: 600px) {
  .main-pagina-producto {
    background-color: rgb(20, 105, 20);
    transition-duration: 0.5s;

    .section__contenedor-producto {
    width: 500px;
    margin: 0 auto;
    margin: 20px;
    transition-duration: 0.5s;
    }
  }

}




// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {

  
  .main-pagina-producto {
    background-color: rgb(195, 221, 22);
    transition-duration: 0.5s;

    .section__contenedor-producto {
    width: 360px;
    margin: 0 auto;
    margin: 20px;
    transition-duration: 0.5s;

    #contenedor-producto__crypto-widget-coin-list {
      width: 180px;
    }

    .contenedor-producto__info-crypto-bitcoin {
    .info-crypto-bitcoin__primer-dato-crypto {
      display:flex;
      flex-direction: column;
    }

    .info-crypto-bitcoin__segundo-dato-crypto {
      display:flex;
      flex-direction: column;
    }

    .info-crypto-bitcoin__tercer-dato-crypto {
      display:flex;
      flex-direction: column;
    }

    .info-crypto-bitcoin__cuarto-dato-crypto {
      display:flex;
      flex-direction: column;
    }
    }

    }
  }

}



// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .main-pagina-producto {
    background-color: aqua;
    transition-duration: 0.5s;

    .section__contenedor-producto {
      width: 260px;
      transition-duration: 0.5s;

      #contenedor-producto__crypto-widget-coin-list {
        width: 170px;
      }
  
      .contenedor-producto__info-crypto-bitcoin {
        .info-crypto-bitcoin__primer-dato-crypto {
          display:flex;
          justify-content: center;
          flex-direction: column;
        }
    
        .info-crypto-bitcoin__segundo-dato-crypto {
          display:flex;
          justify-content: center;
          flex-direction: column;
        }
    
        .info-crypto-bitcoin__tercer-dato-crypto {
          display:flex;
          flex-direction: column;
        }
    
        .info-crypto-bitcoin__cuarto-dato-crypto {
          display:flex;
          flex-direction: column;
        }
      }
    }
  }


}