@import "_variables.scss";
@import "_body_y_box.scss";
@import "_cabecera.scss";
@import "_footer.scss";


// Main página registro

.main-pagina-registro {
    background-color: $azul-menos-saturado;
    width: 100%;
    /* 100% de la altura del viewport
    El viewport es la parte visible del documento */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .section__form-registro {
      text-align: center;
      padding: 20px;
  
      
      fieldset {
        background-color: $azul-mas-saturado;
        border: $amarillo-menos-saturado;
        width: 550px;
        padding: 10px;
        padding-bottom: 30px;
  
        h2 {
          color: rgb(255, 255, 255);
          font-family: $fuente-parrafos;
          font-size: 18px;
          text-align: center;
          padding-top: 30px;
        }
    
        h2::after {
          /* Con el h2::after lo que hace es decirle que después
        del título ponga como contenido el elemento que se
        indique en el content */
          content: "🡻"
        }
  
        .fieldset__parrafo-nombre-pila {
          display: flex;
          /* Con el justify-content space-evenly lo que hace
          es indicar que los elementos se separen
          distribuyendo el espacio entre los elementos de manera
          uniforme. Es similar a space-around pero proporciona
          un espacio igual en lugar de la mitad del tamaño en los
          bordes. */
          justify-content: space-evenly;
          /* La propiedad align-items center lo que hace
          es centrar los elementos respecto al eje vertical */
          align-items: center;
          padding: 10px;
          padding-top: 25px;
  
  
        }
  
        .fieldset__parrafo-apellidos {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap : 24px;
          padding: 10px;
  
        }
  
        .fieldset__parrafo-correo-registro {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 44px;
          padding: 10px;
  
        }
  
        .fieldset__parrafo-contraseña {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 10px;
          /* La propiedad gap indica el espacio que hay
          entre los elementos  */
          gap: 10px;
          padding-bottom: 30px;
  
        }
  
        .fieldset__parrafo-aceptar-condiciones {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 6px;
  
          .parrafo-aceptar-condiciones__label {
            color: white;
            font-family: $fuente-parrafos;
          }
  
          #parrafo-aceptar-condiciones__union {
            width: 10px;
          }
          
        }
  
          #P__boton-enviar {
            border-radius: 1.2em;
            width: 100px;
            height: 42px;
            padding: 10px;
            margin-top: 20px;
            /* Lo que hace la propiedad display block junto a
            margin-left auto y margin-right auto es centrar
            el botón de manera horizontal */
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
  
        
        input {
          background-color: $amarillo-menos-saturado;
          border: $amarillo-menos-saturado;
          width: 250px;
          height: 30px;
          border-radius: 0.4em;
        }
  
        label {
          color:white;
          font-family: $fuente-parrafos;
          font-size: 16px;
          //padding-right: 22px;
        }
  
       
      }
    }
  }




// Responsive



// Primer punto de ruptura
@media screen and (min-width: 400px) and (max-width: 600px) {
  .main-pagina-registro {
    transition-duration: 0.5s;

    .section__form-registro {

      fieldset {
        width: 470px;
        /* La propiedad transition-duration indica la duración
        total de la transición  */
        transition-duration: 0.5s;
      }

    }

  }

}



// Segundo punto de ruptura
@media screen and (min-width: 378px) and (max-width: 520px) {
  .main-pagina-registro {
    transition-duration: 0.5s;

    .section__form-registro {

      fieldset {
        width: 360px;
        transition-duration: 0.5s;

        .fieldset__parrafo-nombre-pila {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

          .parrafo-nombre-pila__label-name {
            padding-bottom: 10px;
          }

        }

        .fieldset__parrafo-apellidos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

          .parrafo-apellidos__label {
            padding-top: 10px;
          }

        }

        .fieldset__parrafo-correo-registro {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

          .parrafo-correo-registro__label {
            margin-top: 10px;
          }

          #parrafo-correo-registro__email {
            margin-bottom: 30px;

          }

        }

        .fieldset__parrafo-contraseña {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

        }
      }

    }

  }


}



// Tercer punto de ruptura
@media screen and (max-width: 378px) {
  .main-pagina-registro {
    transition-duration: 0.5s;

    .section__form-registro {

      fieldset {
        width: 240px;
        transition-duration: 0.5s;

        .fieldset__parrafo-nombre-pila {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

          .parrafo-nombre-pila__label-name {
            padding-bottom: 10px;
          }

          input {
            width: 200px;
          }

        }

        .fieldset__parrafo-apellidos {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

          .parrafo-apellidos__label {
            padding-top: 10px;
          }

          input {
            width: 200px;
          }

        }

        .fieldset__parrafo-correo-registro {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; 

          .parrafo-correo-registro__label {
            margin-top: 10px;
          }

          input {
            width: 200px;
          }

          #parrafo-correo-registro__email {
            margin-bottom: 30px;

          }

        }

        .fieldset__parrafo-contraseña {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          input {
            width: 200px;
          }

        }
      }

    }

  }




}